{% extends "base.html" %}

{% block content %}
<div class="d-flex mb-4 justify-content-center">
 <h1>О НАС</h1>
</div>
<div class="book_obj justify-content-center">
<p>
 Добро пожаловать на наш литературный портал — место, где рождаются истории, находят читателей,
 а авторы получают возможность делиться своими произведениями с широкой аудиторией.
</p>

<p>
 Наш сайт создан с одной целью: дать каждому автору пространство для самовыражения и возможность
 быть услышанным. Здесь вы можете публиковать свои книги, рассказы, стихи и другие литературные
  работы, добавлять к ним описания, обложки и категории, чтобы их было проще найти. Читатели смогут
   просматривать фрагменты текстов, оценивать произведения, оставлять комментарии и скачивать полные версии.
</p>

<p>
 Мы поддерживаем как начинающих, так и опытных авторов. Платформа позволяет ограничивать доступ
 к произведениям только для зарегистрированных пользователей, а также модерировать контент — 
 благодаря чему на сайте сохраняется высокое качество публикаций.
</p>

<p>
Присоединяйтесь к нашему сообществу литераторов и читателей. Пишите, читайте, вдохновляйтесь!
</p>
</div>
{% endblock %}