{% extends "base.html" %}

{% block content %}
<div class="d-flex mb-4 justify-content-center">
    <h1>FAQ</h1>
</div>
<div class="book_obj justify-content-center">
<p>
1. Как опубликовать свою книгу?<br>
Чтобы опубликовать произведение, вам нужно зарегистрироваться на сайте.
После входа в аккаунт перейдите в раздел книг, нажмите кнопку добавть книгу, загрузите текст,
укажите название, описание, категорию, обложку и другие параметры.
После этого ваше произведение станет доступно другим пользователям.
</p>
<p>
2. Как происходит модерация книг?<br>
Загружаемые произведения проходят проверку администраторами сайта.
Это необходимо для обеспечения качества контента, соблюдения правил
сообщества и отсутствия запрещённого материала. Если ваше произведение
не соответствует требованиям, администратор его удалит.
</p>

<p>
3. Какие категории доступны для произведений?<br>
Вы можете указать одну или несколько категорий, например:
фэнтези, научная фантастика, детектив, поэзия, эссе,
исторический роман, ужасы и другие. С полным списком
можно ознакомиться при публикации.
</p>

<p>
4. Могу ли я скачать произведение?<br>
Да, вы можете скачать книгу в доступном формате.
</p>

<p>
5. Как связаться с администрацией?<br>
Если у вас есть вопросы, предложения или жалобы — вы можете или написать нам на <a href="mailto:tullkom@yandex.ru">электронную почту</a>
</p>

</div>
{% endblock %}