{% extends "base.html" %}

{% block content %}
<div class="d-flex mb-4 justify-content-center">
    <h1>ПОИСК</h1>
</div>
{% for item in books%}
<div class="book_obj border px-3 py-3 my-3">
    <a href="{{ url_for('book_page', author=item.user.username, book_name=item.title.replace(' ', '_')) }}"><h2>{{item.title}}</h2></a>
    <div class="text-break">
        Категории:
        {%for i in item.categories%}
        {{i.name}}
        {%endfor%}
    </div>
    <div class="text-break">
        {{item.about}}
    </div>
    <div>
        Автор - <a href="{{ url_for('account', author=item.user.username) }}">{{item.user.username}}</a>, Дата написания - {{item.created_date}}
    </div>
    <div>
        Просмотры: {{ item.views }}
    </div>
</div>
{% endfor %}
{% endblock %}