{% extends "base.html" %}

{% block content %}
<div class="d-flex mb-4 justify-content-center">
    <h1>НОВИНКИ</h1>
</div>
{% for item in books%}
<div class="book_obj border px-1 py-1">
    <a href="book/{{ item.user.username }}/{{ item.title.replace(' ', '_') }}"><h2>{{item.title}}</h2></a>
    <div class="text-break">
        {{item.about}}
    </div>
    <div>
        Автор - {{item.user.username}}, Дата написания - {{item.created_date}}
    </div>
</div>
{% endfor %}
<!--<div class="md-5 container">-->
<!--  <div class="row row-cols-6">-->
<!--    <div class="col">Column</div>-->
<!--    <div class="col">Column</div>-->
<!--    <div class="col">Column</div>-->
<!--    <div class="col">Column</div>-->
<!--    <div class="col">Column</div>-->
<!--    <div class="col">Column</div>-->
<!--  </div>-->
<!--</div>-->
{% endblock %}